@model IEnumerable<TaxDeclarationWeb.Models.Taxpayer>
@{
    ViewData["Title"] = "Налогоплательщики вашей инспекции";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ИИН</th>
        <th>ФИО</th>
        <th>Адрес</th>
        <th>Категория</th>
        <th>Телефон</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.IIN</td>
            <td>@t.FullName</td>
            <td>@t.Address</td>
            <td>@t.Category?.Name</td>
            <td>@t.Phone</td>
            <td>
                <a asp-controller="Taxpayer" asp-action="Details" asp-route-id="@t.IIN" class="btn btn-sm btn-primary">Детали</a>
            </td>
        </tr>
    }
    </tbody>
</table>