@model IEnumerable<TaxDeclarationWeb.Models.Declaration>
@{
    ViewData["Title"] = "Декларации по вашей инспекции";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Год</th>
        <th>ИИН налогоплательщика</th>
        <th>Сумма дохода</th>
        <th>Сумма расхода</th>
        <th>Уплачено налогов</th>
        <th>Дата подачи</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Year</td>
            <td>@d.TaxpayerIIN</td>
            <td>@d.Income</td>
            <td>@d.Expenses</td>
            <td>@d.PaidTaxes</td>
            <td>@d.SubmittedAt.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>